# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/dist

# misc
.DS_Store
.env
.env.*
.eslintcache

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# use yarn.lock only
package-lock.json
# index.html
/src/samples
.env
# /src/lib/pushClientEvent.ts
/public/
!/public/uv/
!/public/index.html.template
!/public/index.html
/public/testData
!/public/favicon.ico
!/public/touch-icon-228.png

/scripts
*.orig

